<html>
<head>
	<title>Detail: Run #<%= @run.id %></title>
	<%= javascript_include_tag "prototype", "effects" %>
	<%= stylesheet_link_tag "main" %>
	<script type="text/javascript">
	var current = null;
	function changeVisibility(id) {
       if (Element.visible(id)) {
           Effect.SlideUp(id);
       } else {
	       Effect.SlideDown(id);
	   }
	}
	</script>
</head>

<body>
<ul>
    <li><b>Time</b>: <%= @run.time.gmtime %></li>
    <li><b>Selenium Version</b>: <%=h @run.version %></li>
    <li><b>Status</b>: <%=h @run.status %></li>
    <li><b>User agent</b>: <%=h @run.agent %></li>
</ul>

<ul id="testcases">
	<% @run.test_cases.each do |test_case| %>
    	<li class='<%= test_case.status %>' onClick="changeVisibility('<%= test_case.id %>');"><%=h test_case.name %></li>
    	<div style="display:none" id="<%= test_case.id %>">
    	   <%= test_case.note %>
    	</div>
	<% end %>
</ul>
</body>
</html>