<html>
<head>
	<title>Summary</title>
	<%= stylesheet_link_tag "main" %>
</head>

<body>
<table id="runs">
	<caption>Selenium Core Testing Results</caption>
	<tr>
		<td>#</td>
		<td>Status</td>
		<td>Version</td>
		<td>User agent</td>
		<td>Time</td>
	</tr>
	<% @runs.each do |run| %>
	<tr id='<%= run.id %>' onclick='window.location="<%= url_for :action => :detail, :id => run.id %>"' class="<%= run.status %>">
		<td><%= run.id %></td>
		<td><%=h run.status %></td>
		<td><%=h run.version %></td>
		<td><%=h run.agent %></td>
		<td><%=h run.time.gmtime %></td>
	</tr>
	<% end %>
</table>
</body>
</html>