<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.serli.helium.core.replayhandler.streamTesters">
      <streamTester
            class="com.serli.helium.picture.tester.PictureTester"
            type="picture">
      </streamTester>
   </extension>
   <extension
         point="com.serli.helium.core.modelhandler.modelfactory">
      <testModel
            class="com.serli.helium.picture.editor.PictureModel"
            content-type="image/*"
            id="com.serli.helium.picture.pictureTestModel">
      </testModel>
   </extension>
   <extension
         point="com.serli.helium.ui.testeditor.streamEditors">
      <streamEditor
            class="com.serli.helium.picture.editor.PictureStreamEditorPart"
            icon="icons/picture.png"
            id="com.serli.helium.picture.PictureStreamEditor"
            modelId="com.serli.helium.picture.pictureTestModel"
            name="PictureStreamEditor">
      </streamEditor>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:edit?after=additions">
         <command
               commandId="com.serli.helium.picture.editor.source.addtext"
               icon="icons/new_test.png"
               label="Add text verification"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeEditorId">
                  <equals
                        value="com.serli.helium.picture.PictureStreamEditor">
                  </equals>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="com.serli.helium.picture.editor.picture.addpicturetext"
               icon="icons/new_test_image.png"
               label="Add picture text verification"
               style="push"
               tooltip="Add a picture text verification">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeEditorId">
                  <equals
                        value="com.serli.helium.picture.PictureStreamEditor">
                  </equals>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:com.serli.helium.picture.PictureStreamEditor.source?before=additions">
         <command
               commandId="com.serli.helium.picture.editor.source.addtext"
               icon="icons/new_test.png"
               label="Add text verification"
               style="push">
         </command>
         <command
               commandId="org.eclipse.ui.edit.copy"
               id="copy"
               label="Copy"
               style="push">
         </command>
         <command
               commandId="org.eclipse.ui.edit.selectAll"
               id="selectAll"
               label="Select All"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:com.serli.helium.picture.PictureStreamEditor.picture?before=additions">
         <command
               commandId="com.serli.helium.picture.editor.picture.addpicturetext"
               icon="icons/new_test_image.png"
               label="Add picture text verification"
               style="push"
               tooltip="Add a picture text verification">
         </command>
         <command
               commandId="org.eclipse.ui.edit.selectAll"
               id="selectAll"
               label="Select All"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?before=additions">
         <toolbar
               id="com.serli.helium.picture.PictureStreamEditor.toolbar">
            <command
                  commandId="com.serli.helium.picture.editor.source.addtext"
                  icon="icons/new_test.png"
                  label="Add text verification"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeEditorId">
                     <equals
                           value="com.serli.helium.picture.PictureStreamEditor">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="com.serli.helium.picture.editor.picture.addpicturetext"
                  icon="icons/new_test_image.png"
                  label="Add picture text verification"
                  style="push"
                  tooltip="Add a picture text verification">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeEditorId">
                     <equals
                           value="com.serli.helium.picture.PictureStreamEditor">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:com.serli.helium.picture.PictureStreamEditor.picture.form.toolbar">
         <dynamic
               class="com.serli.helium.picture.editor.handlers.ZoomContributionItem"
               id="com.serli.helium.picture.editor.picture.zoom">
         </dynamic>
         <separator
               name="additions"
               visible="false">
         </separator>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:com.serli.helium.picture.PictureStreamEditor.picture.form.extractsection.toolbar">
         <command
               commandId="com.serli.helium.picture.editor.picture.addpicturetext"
               icon="icons/new_test_image.png"
               label="Add picture text verification"
               style="push"
               tooltip="Add a picture text verification">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="com.serli.helium.picture.PictureCreator.category"
            name="Picture Creator">
      </category>
      <command
            categoryId="com.serli.helium.picture.PictureCreator.category"
            id="com.serli.helium.picture.editor.source.addtext"
            name="Add text verification">
      </command>
      <command
            categoryId="com.serli.helium.picture.PictureCreator.category"
            id="com.serli.helium.picture.editor.picture.addpicturetext"
            name="Add picture text verification">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.serli.helium.picture.editor.handlers.AddTextVerificationHandler"
            commandId="com.serli.helium.picture.editor.source.addtext">
         <activeWhen>
            <with
                  variable="activePart">
               <and>
                  <instanceof
                        value="com.serli.helium.picture.editor.PictureStreamEditorPart">
                  </instanceof>
                  <test
                        property="com.serli.helium.picture.EditorPropertyTester.ActivePage"
                        value="1">
                  </test>
               </and>
            </with>
         </activeWhen>
         <enabledWhen>
            <with
                  variable="selection">
               <and>
                  <count
                        value="+">
                  </count>
                  <instanceof
                        value="org.eclipse.jface.text.ITextSelection">
                  </instanceof>
               </and>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="com.serli.helium.picture.editor.handlers.AddPictureTextVerificationHandler"
            commandId="com.serli.helium.picture.editor.picture.addpicturetext">
         <activeWhen>
            <with
                  variable="activePart">
               <and>
                  <instanceof
                        value="com.serli.helium.picture.editor.PictureStreamEditorPart">
                  </instanceof>
                  <test
                        property="com.serli.helium.picture.EditorPropertyTester.ActivePage"
                        value="0">
                  </test>
               </and>
            </with>
         </activeWhen>
         <enabledWhen>
            <with
                  variable="activeEditor">
               <and>
                  <instanceof
                        value="com.serli.helium.picture.editor.PictureStreamEditorPart">
                  </instanceof>
                  <not>
                     <test
                           property="com.serli.helium.picture.model.ExtractPropertyTester.Is_Empty">
                     </test>
                  </not>
               </and>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="com.serli.helium.picture.editor.handlers.SelectAllHandler"
            commandId="org.eclipse.ui.edit.selectAll">
         <activeWhen>
            <with
                  variable="activePartId">
               <equals
                     value="com.serli.helium.picture.PictureStreamEditor">
               </equals>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="com.serli.helium.picture.editor.handlers.CopyHandler"
            commandId="org.eclipse.ui.edit.copy">
         <activeWhen>
            <with
                  variable="activePart">
               <and>
                  <instanceof
                        value="com.serli.helium.picture.editor.PictureStreamEditorPart">
                  </instanceof>
                  <test
                        property="com.serli.helium.picture.EditorPropertyTester.ActivePage"
                        value="1">
                  </test>
               </and>
            </with></activeWhen>
         <enabledWhen>
            <with
                  variable="selection">
               <and>
                  <count
                        value="+">
                  </count>
                  <instanceof
                        value="org.eclipse.jface.text.ITextSelection">
                  </instanceof>
               </and>
            </with>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="com.serli.helium.picture.editor.propertytester.ExtractPropertyTester"
            id="com.serli.helium.picture.model.ExtractPropertyTester"
     		namespace="com.serli.helium.picture.model.ExtractPropertyTester"
            properties="Is_Empty"
            type="com.serli.helium.picture.editor.PictureStreamEditorPart">
      </propertyTester>
      <propertyTester
            class="com.serli.helium.picture.editor.propertytester.EditorPropertyTester"
            id="com.serli.helium.picture.EditorPropertyTester"
            namespace="com.serli.helium.picture.EditorPropertyTester"
            properties="ActivePage"
            type="com.serli.helium.picture.editor.PictureStreamEditorPart">
      </propertyTester>
   </extension>

</plugin>
