/*---( Layout )---*/

body, html {
    margin:0;
    padding:0;
}

#banner {
  position: absolute;
  top: 0;
  height: 65px;
  width: 100%;
}

#main {
    position: fixed;
    top: 65px;
    bottom: 1.5em;
    width: 100%;
    overflow: auto;
}

#suite {
    position: absolute;
    top: 0;
    left: 0;
    width: 40%;
    height: 40%;
}

#test {
    position: absolute;
    top: 40%;
    left: 0;
    width: 40%;
    height: 60%;
}

#aut {
    position: absolute;
    top: 0;
    left: 40%;
    width: 60%;
    height: 100%;
}

#footer {
    position: absolute;
    bottom: 0;
    height: 1.5em;
    width: 100%;
    overflow: hidden;
}

iframe {
    border: 0;
    bottom: auto;
    right: auto;
}

div>iframe { /* ignored by IE */
    position: absolute;
    background: white;
    border: 1px solid black;
    top: 1px;
    bottom: 1px;
    left: 1px;
    right: 1px;
}

/*---( Fonts and Colours )---*/

body, html {
    font-family: Verdana, Arial, sans-serif;
}

#banner {
    background: black url(tw-banner.jpg) no-repeat;
    color: white;
}

#banner table {
    padding-left: 10px;
    color: white;
}

#banner a {
    color: white;
    text-decoration: none;
}

#banner a:hover {
    text-decoration: underline;
}

#main {
    background: white;
}

#controlPanel {
    background: #658;
    color: white;
}

#footer {
    background: #999;
}

button, label {
    cursor: pointer;
}

button { 
    background: #aaa;
    border: 1px solid white;
}

button:hover { 
    background: #ccc;
}

#controlPanel, #resultsPanel {
    font-size: 80%;
}

#resultsPanel th.section {
    padding-left: 1.5em;
}

#resultsPanel th {
    text-align: right;
    padding-left: .5em;
}

#resultsPanel td {
    font-weight: bold;
}

#testRuns {
    color: #3f3;
}

#testFailures {
    color: #d00;
}

#commandPasses {
    color: #3f3;
}

#commandFailures {
    color: #fe3;
}

#commandErrors {
    color: #d00;
}
