<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.serli.helium.core.replayhandler.streamTesters">
      <streamTester
            class="com.serli.helium.text.streamtester.TextTester"
            type="text">
      </streamTester>
   </extension>
   <extension
         point="com.serli.helium.core.modelhandler.modelfactory">
      <testModel
            class="com.serli.helium.text.editor.TextModel"
            content-type="text/*, application/javascript"
            id="com.serli.helium.text.textModel">
      </testModel>
   </extension>
   <extension
         point="com.serli.helium.ui.testeditor.streamEditors">
      <streamEditor
            class="com.serli.helium.text.editor.TextEditorPart"
            icon="icons/file.gif"
            id="com.serli.helium.text.TextStreamEditor"
            modelId="com.serli.helium.text.textModel"
            name="Text Stream Editor">
      </streamEditor>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:edit?after=additions">
         <command
               commandId="com.serli.helium.text.editor.addtextverification"
               icon="icons/new_test.png"
               label="Add text verification"
               style="push"
               tooltip="Add a text verification">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeEditorId">
                  <equals
                        value="com.serli.helium.text.TextStreamEditor">
                  </equals>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:com.serli.helium.text.TextStreamEditor?before=additions">
         <command
               commandId="com.serli.helium.text.editor.addtextverification"
               icon="icons/new_test.png"
               label="Add text verification"
               style="push">
         </command>
         <command
               commandId="org.eclipse.ui.edit.copy"
               id="copy"
               label="Copy"
               style="push">
         </command>
         <command
               commandId="org.eclipse.ui.edit.selectAll"
               id="selectAll"
               label="Select All"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="com.serli.helium.text.TextStreamEditor.toolbar">
            <command
                  commandId="com.serli.helium.text.editor.addtextverification"
                  icon="icons/new_test.png"
                  style="push"
                  tooltip="Add a text verification">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeEditorId">
                     <equals
                           value="com.serli.helium.text.TextStreamEditor">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="com.serli.helium.text.category"
            name="Text creator category">
      </category>
      <command
            categoryId="com.serli.helium.text.category"
            id="com.serli.helium.text.editor.addtextverification"
            name="Add text verification">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.serli.helium.text.editor.handlers.AddTextVerificationHandler"
            commandId="com.serli.helium.text.editor.addtextverification">
         <activeWhen>
            <with
                  variable="activePartId">
               <equals
                     value="com.serli.helium.text.TextStreamEditor">
               </equals>
            </with>
         </activeWhen>
         <enabledWhen>
            <with
                  variable="selection">
               <and>
                  <count
                        value="+">
                  </count>
                  <instanceof
                        value="org.eclipse.jface.text.ITextSelection">
                  </instanceof>
               </and>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="com.serli.helium.text.editor.handlers.SelectAllHandler"
            commandId="org.eclipse.ui.edit.selectAll">
         <activeWhen>
            <with
                  variable="activePartId">
               <equals
                     value="com.serli.helium.text.TextStreamEditor">
               </equals>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="com.serli.helium.text.editor.handlers.CopyHandler"
            commandId="org.eclipse.ui.edit.copy">
         <enabledWhen>
            <with
                  variable="selection">
               <and>
                  <count
                        value="+">
                  </count>
                  <instanceof
                        value="org.eclipse.jface.text.ITextSelection">
                  </instanceof>
               </and>
            </with></enabledWhen>
         <activeWhen>
            <with
                  variable="activePartId">
               <equals
                     value="com.serli.helium.text.TextStreamEditor">
               </equals>
            </with>
         </activeWhen>
      </handler>
   </extension>


</plugin>
