<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="streamEditors" name="StreamEditors" schema="schema/streamEditors.exsd"/>
   <extension
         point="com.serli.helium.core.modelhandler.modelListeners">
      <modelListener
            class="com.serli.helium.ui.testeditor.internal.ModelListener"
            id="com.serli.helium.ui.testeditor.testmodellistener">
      </modelListener>
   </extension>

</plugin>
