* {
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

table { 
    font-size: 80%;	
	color: #000;
	text-align: left;
	border-collapse: collapse;
	border: 1px solid #666666;
}
caption {
	height: 45px;
	line-height: 44px;
	color: #60634E;
	font-weight: bold;
	text-align: left;
	width: 100%;
	margin: 0;
	padding: 0;
}
thead th {
	font-size: 105%;
	color: #000;
	height: 33px;
}

tr {
	vertical-align: top;
}
tr,th,td {
	padding: .75em;
}
td {
	border-left: 1px solid #dadada;
}
tfoot tr {
}
tfoot td, tfoot th{
	color: #000;
	border: 0px;
}

ul {
    list-style-type: none;
}

li{
    margin: 0.2em 0em;
}

ul#testcases {
    list-style-type: disc;
}

ul#testcases li{
    width: 500px;
}

.passed {
    background-color: #ccffcc;
    cursor: pointer;
}

.failed {
    background-color: #ffcccc;
    cursor: pointer;
}