<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="com.serli.helium.ui.product.workbench.Application">
         </run>
      </application>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.serli.helium.ui.product.workbench.application"
            name="Helium">
         <property
               name="appName"
               value="Helium">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property
               name="aboutText"
               value="Helium is the test creator for Selenium IDE.&#x0A;Version : 1.0.0.beta">
         </property>
         <property
               name="startupProgressRect"
               value="5,270,445,15">
         </property>
         <property
               name="startupForegroundColor"
               value="000000">
         </property>
         <property
               name="startupMessageRect"
               value="7,255,445,20">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="org.eclipse.ui"
            class="org.eclipse.ui.ExtensionFactory:progressView"
            icon="icons/pview.gif"
            id="org.eclipse.ui.views.ProgressView"
            name="Progress View"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.activities">
      <activity
            id="com.serli.helium.ui.product.workbench.activity"
            name="Stream activity">
      </activity>
      <activityPatternBinding
            activityId="com.serli.helium.ui.product.workbench.activity"
            pattern="org\.eclipse\.ui\.ide/org.eclipse.ui.openLocalFile">
      </activityPatternBinding>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.eclipse.ui.ExtensionFactory:workbenchPreferencePage"
            id="org.eclipse.ui.preferencePages.Workbench"
            name="General">
      </page>
      <page
            category="org.eclipse.ui.preferencePages.Workbench"
            class="org.eclipse.ui.ExtensionFactory:keysPreferencePage"
            id="com.serli.helium.ui.product.workbench.preferencepage.keys"
            name="Keys">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:edit?before=additions">
         <command
               commandId="org.eclipse.ui.edit.cut"
               id="cut"
               label="Cut"
               mnemonic="t"
               style="push">
         </command>
         <command
               commandId="org.eclipse.ui.edit.copy"
               id="copy"
               label="Copy"
               mnemonic="C"
               style="push">
         </command>
         <command
               commandId="org.eclipse.ui.edit.paste"
               id="paste"
               label="Paste"
               mnemonic="P"
               style="push">
         </command>
         <separator
               name="edit_group"
               visible="true">
         </separator>
         <command
               commandId="org.eclipse.ui.edit.delete"
               id="delete"
               label="Delete"
               mnemonic="D"
               style="push">
         </command>
         <command
               commandId="org.eclipse.ui.edit.selectAll"
               id="selectAll"
               label="Select All"
               mnemonic="A"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <separator
               name="additions"
               visible="false">
         </separator>
      </menuContribution>
   </extension>

</plugin>
