<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.serli.helium.ui.workbench.perspective.PerspectiveTestCreator"
            fixed="false"
            id="com.serli.helium.ui.workbench.testcreatorperspective"
            name="Test Creator">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.serli.helium.ui.workbench.preferencepage.JettyPreferencePage"
            id="com.serli.helium.ui.workbench.JettyPrefrencePage"
            name="Jetty Config">
      </page>
   </extension>

</plugin>
