{% extends "!layout.html" %}
{% block rootrellink %}
    <li><a href="http://seleniumhq.org/">Project Homepage</a> &raquo;</li>
    {{ super() }}
{% endblock %}
{% block extrahead %}
    <script src="_static/code-snipplets.js" type="text/javascript"></script>
    {{ super() }}
{% endblock %}
{%- block sidebarlogo %}
{%- if logo %}
    <div align="center">
    <p class="logo"><a href="{{ pathto(master_doc) }}">
    <img class="logo" src="{{ pathto('_static/' + logo, 1) }}" alt="Logo"/>
    <h2>SeleniumHQ Documentation</h2>
  </a></p>
    </div>
{%- endif %}
{%- endblock %}
