<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="modelListeners" name="ModelListeners" schema="schema/modelListeners.exsd"/>
   <extension-point id="modelfactory" name="ModelFactory" schema="schema/modelfactory.exsd"/>
   <extension
         point="org.eclipse.equinox.http.registry.servlets">
      <servlet
            alias="/test"
            class="com.serli.helium.core.modelfactory.internal.ModelServlet">
      </servlet>
   </extension>

</plugin>
