<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.serli.helium.core.modelhandler.modelfactory">
      <testModel
            class="com.serli.helium.pdf.editor.PdfModel"
            content-type="application/pdf"
            id="com.serli.helium.pdf.pdfTestModel">
      </testModel>
   </extension>
   <extension
         point="com.serli.helium.core.replayhandler.streamTesters">
      <streamTester
            class="com.serli.helium.pdf.tester.PdfTester"
            type="pdf">
      </streamTester>
   </extension>
   <extension
         point="com.serli.helium.ui.testeditor.streamEditors">
      <streamEditor
            class="com.serli.helium.pdf.editor.PdfStreamEditorPart"
            icon="icons/pdf.png"
            id="com.serli.helium.pdf.PdfStreamEditor"
            modelId="com.serli.helium.pdf.pdfTestModel"
            name="PdfStreamEditor">
      </streamEditor>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:edit?after=additions">
         <command
               commandId="com.serli.helium.pdf.editor.source.addtext"
               icon="icons/new_test.png"
               label="Add text verification"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeEditorId">
                  <equals
                        value="com.serli.helium.pdf.PdfStreamEditor">
                  </equals>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="com.serli.helium.pdf.editor.pdf.addpdftext"
               icon="icons/new_test_pdf.gif"
               label="Add pdf text verification"
               style="push"
               tooltip="Add pdf text verification">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeEditorId">
                  <equals
                        value="com.serli.helium.pdf.PdfStreamEditor">
                  </equals>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:com.serli.helium.pdf.PdfStreamEditor.source?before=additions">
         <command
               commandId="com.serli.helium.pdf.editor.source.addtext"
               icon="icons/new_test.png"
               label="Add text verification"
               style="push">
         </command>
         <command
               commandId="org.eclipse.ui.edit.copy"
               id="copy"
               label="Copy"
               style="push">
         </command>
         <command
               commandId="org.eclipse.ui.edit.selectAll"
               id="selectAll"
               label="Select All"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="com.serli.helium.picture.PdfStreamEditor.toolbar">
            <command
                  commandId="com.serli.helium.pdf.editor.source.addtext"
                  icon="icons/new_test.png"
                  label="Add text verification"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeEditorId">
                     <equals
                           value="com.serli.helium.pdf.PdfStreamEditor">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="com.serli.helium.pdf.editor.pdf.addpdftext"
                  icon="icons/new_test_pdf.gif"
                  label="Add pdf text verification"
                  style="push"
                  tooltip="Add pdf text verification">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeEditorId">
                     <equals
                           value="com.serli.helium.pdf.PdfStreamEditor">
                     </equals>
                  </with>
               </visibleWhen>
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:com.serli.helium.picture.PdfStreamEditor.pdf.form.toolbar.section">
         <command
               commandId="com.serli.helium.pdf.editor.pdf.addpdftext"
               icon="icons/new_test_pdf.gif"
               label="Add pdf text verification"
               style="push"
               tooltip="Add pdf text verification">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="com.serli.helium.picture.PdfCreator.category"
            name="Pdf Creator">
      </category>
      <command
            categoryId="com.serli.helium.picture.PdfCreator.category"
            id="com.serli.helium.pdf.editor.source.addtext"
            name="Add text verification">
      </command>
      <command
            categoryId="com.serli.helium.picture.PdfCreator.category"
            id="com.serli.helium.pdf.editor.pdf.addpdftext"
            name="Add pdf text verification">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.serli.helium.pdf.editor.handlers.AddTextVerificationHandler"
            commandId="com.serli.helium.pdf.editor.source.addtext">
         <activeWhen>
            <with
                  variable="activePart">
               <and>
                  <instanceof
                        value="com.serli.helium.pdf.editor.PdfStreamEditorPart">
                  </instanceof>
                  <test
                        property="com.serli.helium.pdf.EditorPropertyTester.ActivePage"
                        value="1">
                  </test>
               </and>
            </with>
         </activeWhen>
         <enabledWhen>
            <with
                  variable="selection">
               <and>
                  <count
                        value="+">
                  </count>
                  <instanceof
                        value="org.eclipse.jface.text.ITextSelection">
                  </instanceof>
               </and>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="com.serli.helium.pdf.editor.handlers.SelectAllHandler"
            commandId="org.eclipse.ui.edit.selectAll">
         <activeWhen>
            <with
                  variable="activePartId">
               <equals
                     value="com.serli.helium.pdf.PdfStreamEditor">
               </equals>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="com.serli.helium.pdf.editor.handlers.CopyHandler"
            commandId="org.eclipse.ui.edit.copy">
         <activeWhen>
            <with
                  variable="activePart">
               <and>
                  <instanceof
                        value="com.serli.helium.pdf.editor.PdfStreamEditorPart">
                  </instanceof>
                  <test
                        property="com.serli.helium.pdf.EditorPropertyTester.ActivePage"
                        value="1">
                  </test>
               </and>
            </with>
         </activeWhen>
         <enabledWhen>
            <with
                  variable="selection">
               <and>
                  <count
                        value="+">
                  </count>
                  <instanceof
                        value="org.eclipse.jface.text.ITextSelection">
                  </instanceof>
               </and>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="com.serli.helium.pdf.editor.handlers.AddPdfTextVerificationHandler"
            commandId="com.serli.helium.pdf.editor.pdf.addpdftext">
         <activeWhen>
            <with
                  variable="activePart">
               <and>
                  <instanceof
                        value="com.serli.helium.pdf.editor.PdfStreamEditorPart">
                  </instanceof>
                  <test
                        property="com.serli.helium.pdf.EditorPropertyTester.ActivePage"
                        value="0">
                  </test>
               </and>
            </with>
         </activeWhen>
         <enabledWhen>
            <with
                  variable="activePart">
               <and>
                  <instanceof
                        value="com.serli.helium.pdf.editor.PdfStreamEditorPart">
                  </instanceof>
                  <not>
                     <test
                           property="com.serli.helium.pdf.ExtractPropertyTester.Is_Empty">
                     </test>
                  </not>
               </and>
            </with>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="com.serli.helium.pdf.editor.propertytester.EditorPropertyTester"
            id="com.serli.helium.pdf.EditorPropertyTester"
            namespace="com.serli.helium.pdf.EditorPropertyTester"
            properties="ActivePage"
            type="com.serli.helium.pdf.editor.PdfStreamEditorPart">
      </propertyTester>
      <propertyTester
            class="com.serli.helium.pdf.editor.propertytester.ExtractPropertyTester"
            id="com.serli.helium.pdf.ExtractPropertyTester"
            namespace="com.serli.helium.pdf.ExtractPropertyTester"
            properties="Is_Empty"
            type="com.serli.helium.pdf.editor.PdfStreamEditorPart">
      </propertyTester>
   </extension>

</plugin>
